:root {
  --primary-cl: #2d2d2d;
  --secondary-cl: #757575;
  --white-cl: #ffffff;
  --cloud-white-cl: #f4f4f4;
  --dark-purple-cl: #a445ed;
  --light-purple-cl: rgba(164, 69, 237, 0.25);
  --grey-cl: #e9e9e9;
  --error-cl: #ff5252;
  /* DARK THEME */
  --dark-theme-bg: #050505;
  --dark-light: #1f1f1f;
  --dark-grey-cl: #3a3a3a;
  --font-sans: 'Open Sans', sans-serif;
  --font-serif: 'Lora', serif;
  --font-mono: 'Inconsolata', monospace;
}
