.header-container {
  display: flex;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 24px;
}
.header-logo-icon {
  display: block;
  fill: var(--secondary-cl);
}

@media screen and (min-width: 767.98px) {
  .header-container {
    padding-top: 58px;
    padding-bottom: 52px;
  }
  .header-logo-icon {
    width: 32px;
    height: 37px;
  }
}

.header-group {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-left: auto;
}
.header-select {
  width: 70px;
  position: relative;

  border: none;
  background-color: transparent;
  outline: none;

  font-size: 18px;
  font-weight: 700;
  color: currentColor;
}

.header-theme-toggle {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header-checkbox {
  display: none;
  appearance: none;
}

.header-switch {
  position: relative;
  width: 40px;
  height: 20px;
  background-color: var(--secondary-cl);
  border-radius: 16px;
  transition: 0.3s;
  cursor: pointer;
}

.header-switch::before {
  content: '';
  width: 14px;
  height: 14px;
  position: absolute;
  border-radius: 50%;
  top: 3px;
  left: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white-cl);
  transition: 0.3s;
}

.header-checkbox:checked + .header-switch {
  background-color: var(--dark-purple-cl);
}

.header-checkbox:checked + .header-switch::before {
  content: '';
  left: 23px;
  background-color: var(--white-cl);
}

.header-theme-icon {
  stroke: var(--secondary-cl);
  fill: transparent;
}

.header-checkbox:checked ~ .header-theme-icon {
  stroke: var(--dark-purple-cl);
}
