<section class="search-section">
  <div class="search-container container">
    <form class="search-form">
      <input
        type="text"
        name="searchQuery"
        placeholder="Search for any word…"
        class="search-input"
      />
      <button type="submit" class="search-btn">
        <svg class="search-btn-icon" width="16" height="16">
          <use href="./images/sprite.svg#icon-search"></use>
        </svg>
      </button>
    </form>
    <div class="search-output"></div>
  </div>
</section>
